@using EventFinder.Models;
@using Microsoft.AspNetCore.Identity;
@using EventFinder.Extensions;

<style>
    .btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}
    .navbar{
        text-align: center;
    }
</style>

<title>
    Register
</title>

@if(User.Identity.IsAuthenticated)
{
    <div class="btn-group">
        <button class="btn btn-default">@User.Identity.Name</button>
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li class="dropdown-item"><a>Settings</a></li>
            <li class="divider"></li>
            <li><a class="dropdown-item" href="/Account/Logout">Logout</a></li>
        </ul>
    </div>
}
else
{
    <li class="nav-item"><a class="nav-link text-dark" href="/Account/Register">Register</a></li>
    <li class="nav-item"><a class="nav-link text-dark" href="/Account/Login">Login</a></li>
}
