@using EventFinder.Models;
@using Microsoft.AspNetCore.Identity

@if (User.Identity.IsAuthenticated)
{
    <li><a>@User.Identity.Name</a></li>
    <li class="separator">|</li>
    <li><a href="/Account/Logout">Выход</a></li>

    <!--<li class="nav-item">
        <a class="nav-link text-dark">Hello </a>

    </li>
    <li class="nav-item"><a class="nav-link text-dark" href="/Account/Logout">Logout</a></li>-->
}
else
{

    <li><a href="/Account/Login">Вход</a></li>
    <li class="separator">|</li>
    <li><a href="/Account/Register">Регистрация</a></li>
    <!--<li class="nav-item"><a class="nav-link text-dark" href="/Account/Register">Register</a></li>
    <li class="nav-item"><a class="nav-link text-dark" href="/Account/Login">Login</a></li>-->
}
