@using EventFinder.Models;
@using Microsoft.AspNetCore.Identity

@if (User.Identity.IsAuthenticated)
{
    <li class="auth-item"><span class="fas fa-user"></span><a asp-controller="Profile" asp-action="Profile">@User.Identity.Name</a>|<a href="/Account/Logout">Выход</a></li>
}
else
{
    <li class="auth-item"><span class="fas fa-user"></span><a href="/Account/Login">Вход</a>|<a href="/Account/Register">Регистрация</a></li>
    
}
