@model EventFinder.Models.AccountModels.LoginModel

@{
    ViewData["Title"] = "Login";
}

<div class="wrapper">
    <section class="create-form">
        <h2>Авторизация</h2>
        <form asp-controller="Account" asp-action="Login" method="post">
            <div class="form-main">
                <p>
                    <input type="email" asp-for="Email" placeholder = "Введите Email" required>
                    <span asp-validation-for="Email" class="error-valid"></span>
                </p>
                <p>
                    <input type="password" asp-for="Password" placeholder = "Введите пароль" required>
                    <span asp-validation-for="Password" class="error-valid"></span>
                </p>
            </div>
            <button type="submit">Войти</button>
        </form>
    </section>
</div>