@model EventFinder.Models.AccountModels.LoginModel

<title>
    Login
</title>

<div class="wrap-auth">
    <div class="login">
        <h2><span>Login</span></h2>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            <div class="form-group">
                <label for="Email">Enter the email</label>
                @Html.TextBoxFor(x => x.Email, "", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="Password">Enter the password</label>
                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <button type="submit" class="btn">Login</button>
            </div>
        }
    </div>
</div>