@model EventFinder.Models.Entity.User

<div class="partial-profile">
    <section class="create-form">
        <h3>Редактировать профиль</h3>
        <form asp-controller="Profile" asp-action="EditProfile" method="post">
            <div class="form-main">
                <input type="hidden" asp-for="Id" required>
                <p>
                    <input type="email" asp-for="Email" placeholder="Введите Email" required>
                    <span asp-validation-for="Email" class="error-valid"></span>
                </p>
                <p>
                    <input type="text" asp-for="Name" placeholder="Введите Имя">
                    <span asp-validation-for="Name" class="error-valid"></span>
                </p>
                <p>
                    <input type="text" asp-for="SurName" placeholder="Введите Фамилию">
                    <span asp-validation-for="SurName" class="error-valid"></span>
                </p>
                <p>
                    <textarea asp-for="AboutMe" placeholder="Обо мне..."></textarea>
                    <span asp-validation-for="AboutMe" class="error-valid"></span>
                </p>
            </div>
            <button type="submit">Сохранить</button>
        </form>
    </section>
</div>
