@using EventFinder.Models.ForumModels
@model CreateForum
@using(Html.BeginForm("CreateForum","forum",FormMethod.Post))
{
    <div class="form-group">
        @Html.TextBoxFor(x=> x.Theme,"",new{@class="form-control",@placeholder="Тема форума"})
    </div>
    <div class="form-group">
        <button type="submit" class="btn">Создать</button>
    </div>
}