@using EventFinder.Models.Entity
@model List<Forum>

<script>
    function OpenForum(id){
        location.href = `/forum/forumview?id=${id}` ;
    }
</script>

<html>
    @if(Model != null && Model.Count != 0){
        <div class="list-group" style="margin:5px">
            @foreach (var item in Model)
            {
                <button class="list-group-item" onclick="OpenForum(@item.Id)">ID: @item.Id, Тема: @item.Theme</button>   
            }
        </div>
    }
    else{

    }
</html>