@model List<EventFinder.Models.Entity.Category>
@{
    ViewData["Title"] = "Главная страница";
}

<div class="hello">
    <div class="start-img">
    </div>
    <div class="filter-start">
    </div>
    <div class="start-img-txt">
        <p>Присоединяйся<br> к сообществу активных людей!</p>
        <a class="arrow" href="#calendar"><img src="img/arrow-white-down.png"></a>
    </div>
</div>
<div class="wrap-homepage">
    <div class="calendar-slider" id="calendar">
        <div class="base-form">
            <div class="slider">
                <div class="item">
                    <img src="~/img/slide1.jpg" alt="Первый слайд">
                </div>

                <div class="item">
                    <img src="~/img/slide2.jpg" alt="Второй слайд">
                </div>

                <div class="item">
                    <img src="~/img/slide3.jpg" alt="Третий слайд">
                </div>

                <a class="prev" onclick="minusSlide()">&#10094;</a>
                <a class="next" onclick="plusSlide()">&#10095;</a>

                <div class="slider-dots">
                    <span class="slider-dots_item" onclick="currentSlide(1)"></span>
                    <span class="slider-dots_item" onclick="currentSlide(2)"></span>
                    <span class="slider-dots_item" onclick="currentSlide(3)"></span>
                </div>
            </div>
        </div>
        <div class="base-form">
            <div class="head-cal">
                <h5 class="name-calendar">Календарь событий<span class="fa fa-calendar cal-icon"></span></h5>
            </div>
            <div class="body-cal">
                <div class="cal-field"></div>
                <div class="event-cal"></div>

            </div>
        </div>
    </div>
    <h4 class="name-event">КАТЕГОРИИ МЕРОПРИЯТИЙ</h4>
    <div class="event-category">
        @foreach (var item in Model)
        {
            <a class="event-block" asp-controller="Category" asp-action="Category" asp-route-id="@(item.Id)">
                <img src="~/img/@(item.Name).jpg" alt="@(item.Name)">
                <div class="desc-event"><span>@item.Name</span></div>
            </a>
        }
    </div>
</div>

