.view-create a {
    color: #00CBE7;
    font-weight: bold;
}

.view-btn span {
    color: #FFF;
}

.event-item span {
    color: #00CBE7;
    margin-left: 10px;

}

.view-page, .view-create {
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    position: relative;
}

.view-body {
    padding: 20px
}

.view-body p:not(:first-child) {
    font-size: 16px;
}

.view-btn {
    width: 75px;
    min-width: 75px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.view-more {
    background-color: #00CBE7;
}

.view-name {
    font-weight: bold;
    margin-top: 0;
}

.view-body p:last-child {
    margin-bottom: 0;
}

.view-create {
    width: calc(100%-20px);
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.no-events {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.no-events p {
    text-align:center;
    margin: 0;
    padding: 0;
}

.event-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #E7E7E7;
    border-top: 1px solid #E7E7E7;
}



.event-item b:first-child, .event-item img, .about-event  {
    margin-left: 20px;
    margin-right: 20px;
}

.about-event {
    width: 70%;
    font-size: 16px;
}

.about-event {
}

/*Event Details*/

.event-details .event-details-body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    font-size: 16px;
}

.event-details .event-details-main {
    width: 70%;
}



.event-details .event-details-part p {
    text-align: center;
}

.event-details .event-details-main > div, .event-details .event-details-part, .event-details > h2, button.follow {
    background-color: #FFF;
    padding: 20px;
    margin: 0 10px 10px 10px;
}

.event-details .event-details-part {
    width: 30%;
    overflow-y: auto;
    margin-left: 0;
    padding: 20px 0 20px 0;
}

.event-details-chat p, .event-details-desc p, .event-details-info p:first-child, .event-details-info p:last-child, .event-details-part p:first-child {
    margin: 0;
}

.event-details > h2 {
    text-align: center;
    background-color: #00E9D9;
    color: white;
}

.event-details button{
    color: white;
    width: calc(100% - 20px);
}

.event-details button.follow {
    background-color: #00CBE7;
}

.event-details button.unfollow {
    background-color: #81D9E5;
}

.event-details div.event-user {
    
    padding: 10px 0 10px 0;
    text-align: center;
    border-bottom: 1px solid #E7E7E7;
}

.event-details .event-details-part div.event-user:first-child {
    border-top: 1px solid #E7E7E7;
}

.event-details-chat a {
    color: #00CBE7;
    font-size: 16px;
}
