.event-create a {
    color: #0093FD;
}

.event-view span {
    color: #FFF;
    
}

.events-list {
}

.wrap-event-events .event, .event-create {
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    margin: 10px;
    position: relative;
}

.wrap-event-events .event-body {
   
    padding:20px
}

.wrap-event-events .event-view {
    width: 75px;
    height: auto;
    background-color: #00CBE7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap-event-events .event-name {
    font-weight: bold
}

.event-create {
    width: calc(100%-20px);
    padding: 10px;
    align-items: center;
    justify-content: center;
}