
/* forum/ForumView */

.wrapper.forum-view {
    margin: 0;
    height: calc(100vh - 100px);
}

.wrap-dialog {
    width: 500px;
    height: 100%;
    border: solid 1px #E7E7E7;
    font-size: 12pt;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.dialog {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 90%;
    height: 73%;
    padding: 5%;
    overflow-y: auto;
}

.message-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: auto;
}

.send-panel {
    width: 90%;
    height: 100px;
    padding: 0% 5% 0% 5%;
    border-top: solid 1px #E7E7E7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    justify-self: flex-end;
}



.input-area {
    width: 80%;
    height: 50%;
    outline: none;
    border: none;
    resize: none;
}

.input-area::placeholder {
    font-family: 'Rubik', sans-serif;
    color: #BBBBBB;
}

.card-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    max-width: 90%;
    margin: 0;
}

.card-text {
    max-width: 65%;
    height: auto;
    padding: 10px;
    border-radius: 25px;
    background-color: #0093FD;
    color: white;
    text-align: end;
}

.card-title {
    margin-right: 5px;
    color: #BBBBBB;
}

.wrap-dialog h3 {
    width: 100%;
    padding: 1.5% 0 1.5% 0;
    height: 3.5%;
    text-align: center;
    margin: 0;
    color: #BBBBBB;
    font-weight: normal;
}

.view-body p:not(:first-child) span {
    font-weight: bold;
}

.view-body p:nth-child(2) a span {
    color: #00CBE7;
    margin-left: 10px;
}

.forum-view button span {
    color: #00CBE7;
    margin-left: 20px;
}

.forum-view button {
    background: none;
    transform: scale(0.9);
}

.forum-view button:hover{
    transform: scale(1);
}