@media (max-width: 1360px){
    
    .calendar-slider, .event-category {width: 95%;}
    
}

@media (max-width: 1200px){
    
    .burger-menu { display: block; height: 36px;}
    .header-top-wrapper {height: 90px;}
    .header-top .nav-main, .header-top .auth { display: none; }
    
}

@media (max-width: 700px){
    footer { align-items: center; }
    .hello { display: none; }
    .header-top { box-shadow: 0 1px 10px 5px rgba(154, 147, 140, 0.2) }
    footer .logo-media {flex-direction: column; align-items: center;}
    footer img { margin-bottom: 30px}
    
}

@media (max-width: 600px){
    .cal-field, .event-cal {border: 0; border-radius: 0 0 10px 10px; margin: 0; max-width: 100%}
    .cal-field { width: 100%; }
    .event-cal { position: absolute; width:0%; }
    .cal-icon { display: inline; } 
    .body-cal { position: relative; }
    .open { width: 100%; background-color: white; transition: 0.5s}
    .close {width: 0;transition: 0.5s}
    .nav-footer { flex-direction: column; align-items: center; }
    .nav-footer div{ margin-bottom: 10px;}

}

@media (max-width: 450px){
    
    .header-top-wrapper > a.logo-header:first-child { display: none; }
    .header-top-wrapper > a.logo-header:nth-child(2) { display: inline-block; }
    .burger-menu { height: 32px; width: 45px;}
    .header-top-wrapper {height: 80px; justify-content: space-between;}
    .slider .item img, .calendar-slider .base-form:first-child, .slider {height: 250px;}
    
}


@media (max-width: 360px){
    
    .start-img { display: none; }
    .header-top { box-shadow: 0 1px 10px 5px rgba(154, 147, 140, 0.2) }
    .calendar-slider { margin: 0 2.5% 0 2.5%; }
    .slider .item img,.calendar-slider .base-form:first-child, .slider  {height: 225px;}
    
}