@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

span.fa, span.far, span.fas, span.fab {
    font-family: fontawesome !important;
    font-size: 18pt;
    color: black;
    cursor: pointer;
    font-weight: normal !important;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

header, footer, .hello, h2, h3, .view-name {
    font-family: 'Montserrat', sans-serif;
}



/*-----------------------------------------------------BASE---------------------------------------------------------*/
html {
    scroll-behavior: smooth;
    font-family: 'Rubik', sans-serif;
}

html, body {
    padding: 0; margin: 0;
    font-size: 20px;
}

body {
    position: relative;
    min-height: 100vh;
    height: 100vh;
    background-color: #EEE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    font-size: 20px !important;
}

.logo-header, .logo, .burger-menu {
    cursor: pointer;
}

.header-top {
    /*box-shadow: 0 1px 10px 5px rgba(154, 147, 140, 0.2);*/
    
    background-color: #FFF;
    font-weight: bold;
}

main {
    margin-bottom: 50px;
    
}

ul {
    list-style: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

.border-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 25px;
    border: solid 1px black;
    width: 250px;
}

.border-group h2{
    text-align: center;
}
/*-------------------------------------------------------HEADER-----------------------------------------------------*/
.header-top-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 80px;
    margin: auto;
}

.logo-header {
    justify-content: flex-start;
    height: 50%;
}

.logo-header > .logo-img-big {
    border-radius: 50px;
    height: 100%;
    width: auto;
}

.logo-header > .logo-img-min {
    height: 100%;
    width: auto;
}

.header-top-wrapper > a.logo-header:nth-child(2) {
    display: none;
}

.burger-menu {
    width: 50px;
    height: 40px;
    display: none;
}

.burger-menu > div {
    width: 100%;
    height: 25%;
    background-color: black;
    border-radius: 50px;
}

.burger-menu > div:nth-child(2) {
    margin-top: 12.5%;
    margin-bottom: 12.5%;
}

.nav-main {
    display: block;
    justify-content: flex-end;
    margin-right: 20px;
    color: black;
}

.header-top a {
    color: black;
}

.header-top a:hover {
    color: #00CBE7;
}

.header-top li{
    display: inline;
}

.header-top .nav-main li{
    display: inline;
    margin: 0 10px 0 10px;
}

.pop-up {
    visibility: hidden;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.pop-up a{
    color: white;
}

.nav-main.pop-up ul {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    margin-top: 0px;
}

.nav-main.pop-up li{
    display: block;
    border-bottom: 2px solid white;
    background-color: #00E4DD;
    width: 100%;
    margin: 0;
    padding: 15px 0 15px 0;
}

.nav-main.pop-up li:first-child{
    background-color: #0093FD;
}

.nav-main.pop-up.open-menu ul{
    visibility: visible;
    opacity: 1;
    transition: .3s;
    z-index: 10;
}

ul.auth li, ul.auth .fas.fa-user{
    color: black;
}

.auth-item {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fas.fa-user {
    color: white;
}

.auth-item a{
    margin: 0 5px 0 5px;
}

.auth-item span{
    margin: 0 10px 0 0 ;
}

header ul {
    margin: 0;
}
/*--------------------------------------------------------START IMAGE-----------------------------------------------*/
.hello {
    position: relative;
}

.start-img {
    background-image: url(/img/start.jpg);
    background-size: cover;
    background-position: top;
    width: 100%;
    height: calc(100vh - 80px);
    
}

.filter-start {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    opacity: .5;
    background-color: black;
    position: absolute;
    top: 0;
}

.start-img-txt {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.arrow img {
    height: 50px;
}

.start-img-txt > p:first-child {
    font-size: 50pt;
    color: white;
    text-align: center;
}

@keyframes rotation {
    0% {
        transform: translate(0,0);
        transition: 1s;
    }

    50% {
        transform: translate(0,15px);
        transition-delay: 0.5s;
    }

    100% {
        transform: translate(0,0);
        transition:1.5s;
    }
}

a.arrow > img {
    animation-name: rotation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/*------------------------------------------------------------------------------------------------------------------*/

.wrap-homepage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.calendar-slider {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.base-form {
    width: 850px;
    min-width: 250px;
    height: 595px;
    margin: 50px 5px 0px 5px;
    border-radius: 10px;
    background-color: #FFF;
    /*box-shadow: 0 16px 48px rgba(2,2,2,0.1);*/
}

.head-cal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #E7E7E7;
    text-align: center;
    justify-content: center;
    letter-spacing: 3px;
}

.body-cal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
}

.cal-field, .event-cal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

.cal-field {
    width: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #000038;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #E7E7E7;
    align-content: space-around;
    align-items: center;
}

.clndr {
    width: 70%;
}

.event-cal {
    overflow-y: auto;
    align-items:center;
}

.cal-icon {
    margin-left: 5px;
    display: none;
}




/*Event*/

.event-category {
    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
    align-items: center;
    justify-content:center;
}

.event-block {
    position: relative;
    width: 300px;
    height: 150px;
    margin: 10px 5px 10px 5px;
    border-radius: 10px;
    /*box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, .1);*/
    transform: scale(0.98);
}

.name-event {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 25px;
    letter-spacing: 5px;
}

.event-block > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.desc-event {
    top: 70%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 20%;
    opacity: 0.6;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc-event span {
    color: white;
    font-size: 12pt;
}

.event-block:hover {
    transform: scale(1);
}
/*--------------------------------------------------------FOOTER---------------------------------------------------*/

footer {
    width: 100%;
    background-color: #91C8FF;
    color: #B1B0AF;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-footer, footer .logo-media {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center
    
}

footer .fab {
    color: white;
}

footer .logo-media .media  {
    margin-bottom: 30px;
}

.nav-footer div {
    margin: 0 20px 0 20px;
    display: flex;
}


footer .nav-footer div {
    text-align: center;
}

footer img {
    width: auto;
    height: 52px;
}

.media {
    display: flex;
    flex-direction: row;
}

.media .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid white;
}

.media .icon:first-child{
    margin: 0 20px 0 20px;
}