@model List<EventFinder.Models.Entity.Event>
@{
    ViewData["Title"] = "Events";
}



<div class="wrap-event-events wrapper">
    <section class="view-list">

        <div class="wrap-item-null">
            <div class="item-null">

            </div>
            <div class="filter-item-null">

            </div>
            <div class="txt-item-null">
                <p>Начинать всегда стоит с того, что сеет сомнения...</p>
                <p><a asp-controller="Event" asp-action="CreateEvent"><b>Создайте</b></a> новое событие!</p>
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="view-page">
                <div class="view-body">
                    <p class="view-name">@item.Name</p>
                    <p class="view-place">@item.Place</p>
                    <p class="view-date">@item.EventDate</p>
                </div>
                <a class="view-btn view-more" asp-controller="Event" asp-action="EventDetails" asp-route-id="@item.Id">
                    <span class="fas fa-search"></span>
                </a>
            </div>
        }

    </section>

    
</div>

