@model List<EventFinder.Models.Entity.Event>
@{
    ViewData["Title"] = "Events";
}



<div class="wrap-event-events wrapper">
    <section class="events-list">
        @foreach (var item in Model)
        {
            <div class="event">
                <div class="event-body">
                    <p class="event-name">@item.Name</p>
                    <p class="event-place">@item.Place</p>
                    <p class="event-date">@item.EventDate</p>
                </div>
                <a class="event-view">
                    <span class="fas fa-search"></span>
                </a>
            </div>
        }
        <div class="event-create"><span><a asp-controller="Event" asp-action="CreateEvent">Создайте</a> новое событие!</span></div>
    </section>

    
</div>

